<!-- Sidebar -->
<div class="sidebar">
  <div class="container {{ with .Site.Params.sidebarSticky }}sidebar-sticky{{ end }}">
    <div class="sidebar-about">
      <span class="site__title">
        <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      </span>
      {{ if and (isset .Site.Params "authorimage") (not (isset .Site.Params.social "gravatar")) }}
        {{ with .Site.Params.authorimage }}
        {{ $strippedSlash := ($.Site.Params.authorimage | replaceRE "^(/)+(.*)" "$2") }}
        {{ $authorImage := (printf "%s%s" $.Site.BaseURL $strippedSlash) }}
        <div class="author-image">
          <img src="{{$authorImage}}" alt="Author Image" class="img--circle img--headshot element--center">
        </div>
        {{ end }}
      {{ end }}
      {{ with .Site.Params.social.gravatar}}
        <div class="author-image">
          <img src="https://www.gravatar.com/avatar/{{md5 .}}?s=240&d=mp" class="img--circle img--headshot element--center" alt="gravatar">
        </div>
      {{ end }}
      <p class="site__description">
        {{ with .Site.Params.description }} {{.}} {{end}}
      </p>
    </div>
    <div class="collapsible-menu">
      <input type="checkbox" id="menuToggle">
      <label for="menuToggle">{{ .Site.Title }}</label>
      <div class="menu-content">
        {{ partial "sidebar/menu.html" . }}
        {{ partial "sidebar/social.html" . }}
      </div>
    </div>
    <div class="sidebar-bottom">
      <button class="theme-toggle" id="theme-toggle" aria-label="Toggle theme">
        <svg class="icon-sun" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 18a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-2a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM11 1h2v3h-2V1zm0 19h2v3h-2v-3zM3.515 4.929l1.414-1.414L7.05 5.636 5.636 7.05 3.515 4.93zM16.95 18.364l1.414-1.414 2.121 2.121-1.414 1.414-2.121-2.121zm2.121-14.85l1.414 1.415-2.121 2.121-1.414-1.414 2.121-2.121zM5.636 16.95l1.414 1.414-2.121 2.121-1.414-1.414 2.121-2.121zM23 11v2h-3v-2h3zM4 11v2H1v-2h3z"/></svg>
        <svg class="icon-moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10 7a7 7 0 0 0 12 4.9v.1c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2h.1A6.979 6.979 0 0 0 10 7zm-6 5a8 8 0 0 0 15.062 3.762A9 9 0 0 1 8.238 4.938 7.999 7.999 0 0 0 4 12z"/></svg>
      </button>
      {{ partial "sidebar/copyright.html" . }}
    </div>
  </div>
</div>
<script>
(function(){
  var btn = document.getElementById('theme-toggle');
  if (!btn) return;
  btn.addEventListener('click', function() {
    var isDark = document.documentElement.getAttribute('data-theme') === 'dark';
    var next = isDark ? 'light' : 'dark';
    document.documentElement.setAttribute('data-theme', next);
    localStorage.setItem('theme', next);
    if (window.REMARK42 && window.REMARK42.changeTheme) {
      window.REMARK42.changeTheme(next);
    }
  });
})();
</script>
