$root-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
$root-font-size: 16px;
$root-line-height: 1.5;

$large-breakpoint: 38em;
$large-font-size: 20px;

$code-font-family: Menlo, Monaco, "Courier New", monospace;
