* {
	box-sizing: border-box;
}

html {
	-webkit-text-size-adjust: 100%; // for iOS
	box-direction: normal;
	font-family: $root-font-family;
	font-size: $small-device-font-size;
	line-height: $root-line-height;
	font-weight: $root-font-weight;
}

html,
body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4 {
	font-weight: $heading-font-weight;
}

h1 {
	font-size: $h1-font-size;
	line-height: $h1-line-height;
	margin-bottom: 1rem;
}

h2 {
	font-size: $h2-font-size;
	margin-bottom: .5rem;
}

h3 {
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}

h5 {
	font-size: $h5-font-size;
}

figure {
	max-width: 100%;
	margin: 0;
	padding: 0;
}

%quotebox {
	padding: .8889rem;
	margin-top: 1rem;
	margin-left: 0px;
	margin-right: 0px;
	border-left: 6px solid;
	border-right: 6px solid transparent;
	border-right-width: 6px;
	border-right-style: solid;
	border-right-color: transparent;
	color: var(--color-text-secondary);
}

blockquote {
	background-color: var(--color-quote-bg);
	border-left-color: var(--color-quote-border);
	@extend %quotebox;
}

.important {
	background-color: var(--color-important-bg);
	border-left-color: var(--color-important-border);
	@extend %quotebox;
}

.warning {
	background-color: var(--color-warning-bg);
	border-left-color: var(--color-warning-border);
	@extend %quotebox;
}

kbd {
	font-family: $root-font-family;
	padding: 2px 7px;
	border: 1px solid var(--color-kbd-border);
	font-size: 0.8em;
	line-height: 1.4;
	background-color: var(--color-kbd-bg);
	color: var(--color-text);
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 2px var(--color-kbd-shadow) inset;
	border-radius: 3px;
	display: inline-block;
	text-shadow: 0 1px 0 var(--color-kbd-shadow);
	white-space: nowrap;
}

a {
	color: var(--color-link);
	text-decoration: none;
	word-wrap: break-word;

	&.sidebar-nav-item {
		&:hover {
			@include link-no-decoration();
		}

		&:focus {
			@include link-no-decoration();
		}
	}

	&:focus {
		@include link-hover();

		&.tag {
			@include link-no-decoration();
		}
	}

	&:hover {
		@include link-hover();

		&.tag {
			@include link-no-decoration();
		}
	}

	&.tag {
		@include link-no-decoration();
	}

	&.read-more-symbol {
		text-decoration: none;
		@include link-no-decoration();
	}
}


.content {
	padding-bottom: 2rem;
	padding-top: 2rem;
}

img[src$='#floatright'] {
	float: right;
	margin-left: 1rem;
	shape-outside: circle(50%);
}

img[src$='#floatleft'] {
	float: left;
	margin-right: 1rem;
}

.comment_link {
	color: var(--color-text-secondary) !important;
}
