pre {
	tab-size: 2;
	code {
		white-space: pre-wrap;
	}
}

%code-font {
	font-family: $code-font-family;
	font-size: $code-font-size;
}

%code-style {
	padding: .1em .1em;
	color: var(--color-code-text);
	background-color: var(--color-code-bg);
	border-radius: 3px;
}

a {
	code {
		color: var(--color-link);
	}
}

code {
	@extend %code-font;
	@extend %code-style;
}

// highlight.js
.hljs {
	font-family: $code-font-family;
	font-size: $code-fence-font-size;
	line-height: $root-line-height;
	white-space: pre;
	border: 1px solid var(--color-border);
	border-radius: 4px;
}
