// some misc styles
.element--center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.menu {
	background-color: var(--color-bg-secondary);
	color: var(--color-text);
	border-radius: 2px;
	padding: 1px 5px;
}

.text-center {
	text-align: center;
}

.pull-right {
	float: right;
}

.draft {
    color: var(--color-text-muted) !important;
}
