@mixin link-no-decoration() {
	border-style: none;
	text-decoration: none;
}

@mixin link-hover() {
	color: var(--color-link-hover);
	border-bottom: 1px dotted var(--color-border);
	text-decoration: none;
	background: transparent;
	background-color: transparent;
	word-wrap: break-word;
}
