.post p {
  text-align: justify;
}

.post li {
  text-align: justify;
}


.post__meta {
  font-size: $meta-font-size;
  color: var(--color-text-secondary);
  font-weight: $meta-font-weight;
}

.post__meta-tag {
  display: inline-block;
}

.post__meta-tag + .post__meta-tag {
  margin-left: 0.8em;
}

.post__category {
  font-weight: bold;
}

.post__tag {
  background: var(--color-tag-bg);
  border-radius: 2px;
  color: var(--color-tag-text);
  font-size: $tag-font-size;
  font-weight: bold;
  padding: 2px 6px;
}

.post__title {
  color: var(--color-text);
}

.post__subtitle {
  display: block;
  font-size: $post__subtitle-font-size;
  font-style: italic;
  padding: 0 0 1rem 0;
}

#references {
  li {
    font-size: 0.9rem;
  }
}
