.badge-category,
a.badge-category {
  color: var(--color-sidebar-text) !important;
  background-color: var(--color-link);
  &:hover,
  &:focus {
    color: var(--color-link) !important;
    background: transparent;
    background-color: transparent;
    text-decoration: none;
    border-bottom: none;
  }
}

.badge-tag,
a.badge-tag {
  margin-left: 0.4em;
  align-self: start;
  color: var(--color-tag-text) !important;
  background-color: var(--color-tag-bg);
  &:hover,
  &:focus {
    color: var(--color-link) !important;
    background: transparent;
    background-color: transparent;
    text-decoration: none;
    border-bottom: none;
  }
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}
