//https://www.client9.com/css-system-font-stack-sans-serif-v3
$root-font-family: "IBM Plex Sans",
system-ui,
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
"Roboto",
"Droid Sans",
"Ubuntu",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";

// poole's variables
$root-font-size: 17px;
$root-font-weight: 400;
// golden ratio https://grtcalculator.com
// 18px @ 33 px, 20px @ 33 px ~ 1.667em
$root-line-height: 1.667em;

$large-breakpoint: 38em;
$large-font-size: 19px;
$font-scale-dot7: .7rem;
$font-scale-dot8: .8rem;

// hyde-hyde
$small-device-font-size: $root-font-size;
$large-device-font-size: $large-font-size;

// https://www.client9.com/css-system-font-stack-monospace-v2
$code-font-family: "SFMono-Regular",
"SF-Mono",
Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Roboto Mono",
"Ubuntu Mono",
"Courier New",
Courier,
monospace;
$code-font-size: .9rem;
$code-fence-font-size: .8rem;
$code-line-height: 1.4;

// section
$section__title-font-size: 2.15rem;

// post
$post__subtitle-font-size: 1.5rem;

// post meta
$meta-font-size: $font-scale-dot8;
$meta-font-weight: 300;

// post tags
$tag-font-size: .667rem;

// list of posts
$item__date-font-size: 1rem;
$item__title-big-font-size: 1.785rem;

// heading
$heading-font-weight: 400;
$h1-font-size: 2.15rem;
$h1-line-height: 1.25;
$h2-font-size: 1.85rem;
$h3-font-size: 1.5rem;
$h4-font-size:1.3rem;
$h5-font-size:1rem;

// sidebar
$sidebar-width: 16rem;
$site__title-font-size: 1.35rem;
$copyright-font-size: $font-scale-dot7;

// content
$content-max-width: 55rem; // @ ~70 CPL
$content-margin-left: $sidebar-width+2rem;
$content-margin-right: 2rem;

// portfolio
$project__title-font-size: $h2-font-size;
$project__subtitle-font-size-big: $h3-font-size;
$project__subtitle-font-size-small: $h4-font-size;
$project__subtitle-font-style: italic;
