name: build

on:
  push:
    branches:
    tags:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: build docker image
        run: docker compose build

      - name: hugo generate
        run: docker compose run --rm hugo_p
